<div class="container_ body">
  <div class="centreBox">
    <!-- Material form login -->
    <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Reset Password</strong>
        </h5>
      </mdb-card-header>
      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">

          <!-- Password -->
          <div class="md-form" *ngIf="hideCurrenPassword">
            <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword"
              class="form-control" mdbInput>
            <label for="currentPassword">Current Password</label>
            <mdb-error *ngIf="checkCurPass()">Input Required</mdb-error>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input type="password" id="materialLoginFormPassword" [(ngModel)]="password" name="password"
              class="form-control" mdbInput>
            <label for="materialLoginFormPassword">Password</label>
            <mdb-error *ngIf="checkPass()">Input Required</mdb-error>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input type="password" id="materialLoginFormPassword1" [(ngModel)]="password1" name="password1"
              class="form-control" mdbInput>
            <label for="materialLoginFormPassword1">Retype Password</label>
            <mdb-error *ngIf="checkPass1()">Input Required</mdb-error>
          </div>


          <!-- Sign in button -->
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
            mdbWavesEffect type="submit" (click)="register()">Submit</button>


          <p *ngIf="!hideCurrenPassword">Already a user
            <a routerLink="/login">Login</a>
          </p>

        </form>
        <!-- Form -->

      </mdb-card-body>

    </mdb-card>
    <!-- Material form login -->
  </div>
</div>