/* You can add global styles to this file, and also import other style files */

//Toast
// #toast-container > mdb-toast-component{
//     opacity: 1.0 !important;
//     -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) !important;
//   }

.md-form {
  margin-top: 0rem;
}

.md-form-bottom-zero {
  margin-bottom: 0rem;
}

.md-form-cust {
  margin-top: 3rem;
}

.custom-select {
  font-size: 1.1rem;
  }
