<div class="container" id="top-section">
  <h3 class="text-center font-weight-bold text-uppercase py-4">User Management</h3>
  <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
    <a href="#top-section" mdbPageScroll [pageScrollDuration]="750"
      class="btn-floating btn-large red waves-effect waves-light">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-3" *ngIf="role === 'SUPERUSER'">
        <label>City</label>
        <select class="browser-default custom-select mdb-select  md-form " searchable="Search here.."
          (change)='onCitySelected($event)'>
          <option value="" hidden selected>Choose your City</option>
          <option value={{city.id}} *ngFor="let city of cities; let id = index">{{city.city}}</option>
        </select>
      </div>
      <div class="mx-3" *ngIf="role === 'SUPERUSER'">
        <label>School</label>
        <select class="browser-default custom-select mdb-select  md-form " searchable="Search here.."
          (change)='onSchoolSelected($event)'>
          <option value="" hidden selected>Choose your School</option>
          <option value={{school.id}} *ngFor="let school of schools; let id = index">{{school.schoolName}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="w-100 mx-auto">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
          <label for="search">Search</label>
        </div>
      </div>
    </div>

    <div>
      <table mdbTable class="text-center z-depth-1" bordered="true">
        <tr>
          <th [mdbTableSort]="user" sortBy="username" class="text-center">Username<mdb-icon fas icon="sort">
            </mdb-icon>
          </th>
          <th [mdbTableSort]="user" sortBy="accountNonLocked" class="text-center">Locked<mdb-icon fas icon="sort">
            </mdb-icon>
          </th>
          <th [mdbTableSort]="user" sortBy="enabled" class="text-center">Enabled<mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let user of user | filter:searchText; let i = index">
          <td><span>{{user.username}}</span></td>
          <td><span
              [ngStyle]="{'background-color':!user.accountNonLocked == true ? 'red' : 'green' }">{{!user.accountNonLocked}}</span>
          <td><span [ngStyle]="{'background-color':user.enabled == true ? 'green' : 'red' }">{{user.enabled}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="info" rounded="true" size="sm" class="my-0" (click)="editUser(user)">
                Edit
              </button>
            </span>
            <span class="table-remove">
              <button type="button" mdbBtn color="warning" rounded="true" size="sm" class="my-0"
                (click)="resetPasword(user)">Reset Password</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<!-- Create-edit School Popup -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">{{popupTitle}}</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <div class="row ml-1">
              <h4 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">Username: {{username}}</h4>
            </div>
          </div>
          <div class="md-form mb-5">
            <div class="row align-content-center">
              <div class="switch">
                <label>
                  &nbsp;Locked&nbsp;
                  <!--  -->
                  <input type="checkbox" [checked]="ceAccountLocked" (change)="changeStatusLocked()">
                  <span class="lever"></span> Un Locked
                </label>
              </div>
            </div>
          </div>
          <div class="md-form mb-5">
            <div class="row align-content-center">
              <div class="switch">
                <label>
                  &nbsp;Disabled&nbsp;
                  <!--  -->
                  <input type="checkbox" [checked]="ceAccountEnabled" (change)="changeStatusEnabled()">
                  <span class="lever"></span> Enabled
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" rounded="true" mdbBtn color="danger" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Create-edit School Popup -->

<!-- Conformation Popup -->
<div mdbModal #conformationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="conformationModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <b>Would you like to remove City?</b>
        <br>
        Once Removed the changes cannot be undone
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
          (click)="conformationModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>Yes
          Remove</button>
      </div>
    </div>
  </div>
</div>
<!-- Conformation Popup -->

<!-- Create-edit City Popup -->

<!-- <div mdbModal #conformationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true"> -->

<div mdbModal #resetPasswordModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetPasswordModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">Rest Password</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <div class="row ml-1">
              <h4 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">Username: {{username}}</h4>
            </div>
          </div>
          <div class="md-form mb-5">
            <input type="password" id="state" [(ngModel)]="cePassword" name="state" class="form-control" mdbInput>
            <label for="state">Password</label>
            <mdb-error *ngIf="checkIfPassword1Empty()">Input Required</mdb-error>
          </div>
          <div class="md-form mb-5">
            <input type="password" id="CityName" [(ngModel)]="cePassword1" name="city" class="form-control" mdbInput>
            <label for="CityName">Re-type Password</label>
            <mdb-error *ngIf="checkIfPassword2Empty()">Input Required</mdb-error>
          </div>
        
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" rounded="true" mdbBtn color="danger" class="waves-light" aria-label="Close"
          (click)="resetPasswordModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" rounded="true" mdbBtn color="success" class="relative waves-light" (click)="restUserPassword()"
          mdbWavesEffect>Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Create-edit City Popup -->