<div class="container_ body">
  <div class="centreBox">
    <!-- Material form login -->
    <mdb-card>

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Sign in</strong>
        </h5>
      </mdb-card-header>

      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">

          <!-- Email -->
          <div class="md-form">
            <input type="text" class="form-control" id="loginUsername" [(ngModel)]="username" name="username"
              minLength="8" maxLength="25" mdbInput>
            <label for="loginUsername">Username</label>
            <mdb-error *ngIf="checkid()">Input Required</mdb-error>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input type="password" class="form-control" id="loginPassword" [(ngModel)]="password" name="password"
              mdbInput>
            <label for="loginPassword">Password</label>
            <mdb-error *ngIf="checkpass()">Input Required</mdb-error>
          </div>

          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <mdb-checkbox [(ngModel)]="rememberme" name="rememberme">Remember me</mdb-checkbox>
            </div>
            <div>
              <!-- Forgot password -->
              <a routerLink="/register">Forgot password?</a>
            </div>
          </div>

          <!-- Sign in button -->
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
            mdbWavesEffect type="submit" (click)="login()">Sign in</button>

          <!-- Register -->
          <!-- <p>Not a member?
            <a routerLink="/register">Register</a>
          </p> -->

        </form>
        <!-- Form -->

      </mdb-card-body>

    </mdb-card>
    <!-- Material form login -->
  </div>
</div>