<div class="container" id="top-section">
  <h3 class="text-center font-weight-bold text-uppercase py-4">Exam Timetable</h3>
  <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;"  *ngIf="role ==='STUDENT'">
    <a href="#top-section" mdbPageScroll [pageScrollDuration]="750"
      class="btn-floating btn-large red waves-effect waves-light">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="hiddenByDirectLink">
      <div class="mx-3" *ngIf="role === 'SUPERUSER'">
        <label>City</label>
        <select class="browser-default custom-select mdb-select md-form " searchable="Search here.."
          (change)='onCitySelected($event)'>
          <option value="" hidden selected>Choose your City</option>
          <option value={{city.id}} *ngFor="let city of cities; let id = index">{{city.city}}</option>
        </select>
      </div>
      <div class="mx-3" *ngIf="role === 'SUPERUSER'">
        <label>School</label>
        <select class="browser-default custom-select mdb-select  md-form " searchable="Search here.."
          (change)='onSchoolSelected($event)'>
          <option value="" hidden selected>Choose your School</option>
          <option value={{school.id}} *ngFor="let school of schools; let id = index">{{school.schoolName}}
          </option>
        </select>
      </div>
      <div class="mx-3"  *ngIf="!(role === 'STUDENT')">
        <label>Exam</label>
        <select class="browser-default custom-select mdb-select  md-form " searchable="Search here.."
          (change)='onExamSelected($event)'>
          <option value="" hidden selected>Choose Exam</option>
          <option value={{exam.exam.id}} *ngFor="let exam of examRep; let id = index">{{exam.exam.name}}
          </option>
        </select>
      </div>
      <div class="mx-3" *ngIf="hiddenClass">
        <label>Class</label>
        <select class="browser-default custom-select mdb-select  md-form " searchable="Search here.."
          (change)='onClassSelected($event)'>
          <option value="" hidden selected>Choose Class</option>
          <option value={{class.id}} *ngFor="let class of classes; let id = index">{{class.className}}
          </option>
        </select>
      </div>
    </div>

    <h3 class="text-center font-weight-bold text-uppercase py-4" *ngIf="testScope === 'School'">Exam: {{ceExamName}}, Scope:
      {{ceExamScope}}</h3>
    <h3 class="text-center font-weight-bold text-uppercase py-4" *ngIf="testScope === 'Class'">Exam: {{ceExamName}}, Scope:
      {{ceExamScope}}, Class: {{ceClassName}}</h3>
    <h3 class="text-center font-weight-bold text-uppercase py-4" *ngIf="testScope === 'Section'">Exam: {{ceExamName}}, Scope:
      {{ceExamScope}}, Class: {{ceClassName}}, Section: {{ceSectionName}}</h3>


    <div class="row md-form" *ngIf="hiddenNote">
      <div class="col-12">
        <textarea type="text" id="input" class="md-textarea form-control" [(ngModel)]="examNotes.note"
          mdbInput></textarea>
        <label class="ml-4" for="input">Notes</label>
      </div>
    </div>

    <div class="row">
      <div class="w-75 mx-auto">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
          <label for="search">Search</label>
        </div>
      </div>
      <div class="w-auto mx-auto">
        <div class="md-form">
          <span   *ngIf="role !=='STUDENT'">
            <button type="button" mdbBtn color="primary" rounded="true" (click)="saveEamTimeTable()"
              [disabled]="ceSchoolId==0">Save</button>
          </span>
        </div>
      </div>
    </div>
    <div>
      <table mdbTable class="text-center z-depth-1 align-middle" bordered="true">
        <thead>
          <tr>
            <th [mdbTableSort]="schedule" sortBy="subjectName" class="text-center">Name</th>
            <th [mdbTableSort]="schedule" sortBy="date" class="text-center" *ngIf="!(role === 'SUPERUSER' || role === 'ADMIN')">Date</th>
            <th [mdbTableSort]="schedule" sortBy="date" class="text-left" *ngIf="(role === 'SUPERUSER' || role === 'ADMIN')">Date</th>
            <th [mdbTableSort]="schedule" sortBy="marks" class="text-center">Max Marks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sch of schedule| filter:searchText; let i = index">
            <td> <span>{{sch.subject.subjectName}}</span></td>
            <td *ngIf="!(role === 'SUPERUSER' || role === 'ADMIN')"> <span>{{sch.timetable.date}}</span></td>
            <td class="text-center mx-3" *ngIf="(role === 'SUPERUSER' || role === 'ADMIN')">
              <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected Date'"
                [(ngModel)]="sch.timetable.date" required></mdb-date-picker>
            </td>
            <td *ngIf="(role === 'SUPERUSER' || role === 'ADMIN')">
              <input  type="text" [(ngModel)]="sch.timetable.marks" class="form-control"
                mdbInput>
            </td>
            <td *ngIf="!(role === 'SUPERUSER' || role === 'ADMIN')"> <span>{{sch.timetable.marks}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>